<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4" ng-repeat="card in scc.shippingCards">
                <div class="card mb-4 shadow-sm">
                    <!--                                                <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                    <!--                                                     class="card-img-top max-height-400 click-cursor" data-toggle="modal"-->
                    <!--                                                     data-target="#dialog{{card.id}}">-->
                    <!--                                                </div>-->
                    <img class="card-img-top click-cursor border-bottom"
                         ng-src="{{card.tempOrderImageUrl}}"
                         alt="Card image cap" data-toggle="modal"
                         data-target="#dialog{{card.id}}" ng-show="!card.loadingImage">
                    <div class="d-flex justify-content-center" ng-show="card.loadingImage">
                        <div class="spinner-border m-3 p-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!--                    <button type="button" class="btn btn-outline-primary mt-1"-->
                    <!--                            ngf-select="scc.uploadFileToAws(card,$file)"-->
                    <!--                            accept="image/*" ngf-max-size="30MB" ngf-resize="{width: 600, height: 800, quality: .8, type: 'image/jpeg',-->
                    <!--               ratio: '3:4'}" ngf-fix-orientation="true" ng-show="scc.isEditable()">בחר תמונה-->
                    <!--                    </button>-->
                    <div class="card-body">

                        <!--                        <input class="form-control form-control-lg" type="text" placeholder="מספר הזמנה"-->
                        <!--                               ng-model="card.order_number"-->
                        <!--                               ng-change="scc.updateShippingCard(card)" ng-disabled="!scc.isEditable()">-->
                        <h5 class="card-title text-right">מספר הזמנה: {{card.order_number}}</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button ng-show="scc.isEditable()" type="button" ng-click="scc.moveCardToFinished(card)"
                                        class="btn btn-success float-right mt-1">בוצע
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                          ng-show="card.isMovingToFinishState"></span>
                                </button>

                            </div>

                            <small class="text-muted">{{card.date}}</small>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="dialog{{card.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-right" id="exampleModalLongTitle">
                                    מס' הזמנה: {{card.order_number}}</h5>
                                <div class="float-left">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body">
                                <!--                                    <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                                <!--                                         class="img-fluid">-->
                                <!--                                    </div>-->

                                <div class="d-flex flex-column">
                                    <div class="d-inline-flex p-2 justify-content-center">
                                        <img ng-src="{{card.tempOrderImageUrl}}"
                                             class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">#טלפון</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="מס' טלפון"
                                               aria-label="Username"
                                               aria-describedby="basic-addon1" ng-model="card.phone_number" readonly>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <div class="ml-auto">
                                    <button type="button" class="btn btn-outline-primary"
                                            ng-click="scc.moveToEditMode(card)" ng-show="scc.isEditable()">ערוך
                                    </button>
                                    <button class="btn btn-primary m-1"
                                            ng-click="scc.navigateToCoordination(card.id)">לינק לתיאום ההובלה
                                    </button>
                                </div>

                                <button type="button" class="btn btn-outline-danger ml-auto"
                                        ng-click="scc.deleteShippingCard(card)" ng-show="!scc.isEditable()">מחק
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                          ng-show="card.isDeleting"></span>
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="scc.isEditable() && scc.loadedFirstTime" class="fixed-bottom text-center">

        <img src="/static/open-iconic/svg/plus.svg"
             alt="icon name" class="plusIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle"
             ng-click="scc.addShippingCard()" mobile-hover-fix-directive>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            ng-disabled="scc.cardToAdd.isSaving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title ml-auto float-right">{{scc.createModalTitle()}}</h5>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">#הזמנה</span>
                        </div>
                        <input type="text" class="form-control" placeholder="מס' הזמנה" aria-label="Username"
                               aria-describedby="basic-addon1" ng-model="scc.cardToAdd.order_number">
                    </div>

                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                                   ngf-select="scc.uploadImageOnModal($file)"
                                   accept="image/*" ngf-max-size="30MB" ngf-resize="{width: 600, height: 800, quality: .8, type: 'image/jpeg',
               ratio: '3:4'}" ngf-fix-orientation="true">
                            <label class="custom-file-label" for="exampleInputFile" data-browse="בחר תמונה">
                                <div class="text-center">
                                    {{scc.cardToSaveFilePath}}
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="text-center">
                        <img class="border border-primary rounded img-fluid edit-image"
                             ngf-src="scc.onEditImage"
                             ngf-background="scc.onEditImage"
                             ngf-resize="{width: 256, quality: 0.9}">
                    </div>

                    <div class="input-group mb-3 my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#טלפון</span>
                        </div>
                        <input type="text" class="form-control" placeholder="מס' טלפון" aria-label="Username"
                               aria-describedby="basic-addon1" ng-model="scc.cardToAdd.phone_number">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary ml-auto"
                            ng-click="scc.saveShippingCard(card)" ng-show="scc.isEditable()">
                        {{scc.getModalCreateType()}}
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              ng-show="scc.cardToAdd.isSaving"></span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            ng-disabled="scc.cardToAdd.isSaving">סגור
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

