<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4" ng-repeat="card in scc.shippingCards">
                <div class="card mb-4 shadow-sm">
                    <!--                                                <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                    <!--                                                     class="card-img-top max-height-400 click-cursor" data-toggle="modal"-->
                    <!--                                                     data-target="#dialog{{card.id}}">-->
                    <!--                                                </div>-->
                    <img class="card-img-top click-cursor border-bottom"
                         ng-src="{{card.tempOrderImageUrl}}"
                         alt="Card image cap" data-toggle="modal"
                         data-target="#dialog{{card.id}}" ng-show="!card.loadingImage">
                    <div class="d-flex justify-content-center" ng-show="card.loadingImage">
                        <div class="spinner-border m-5 p-5" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary mt-1"
                            ngf-select="scc.uploadFileToAws(card,$file)"
                            accept="image/*" ngf-max-size="30MB" ngf-resize="{width: 600, height: 800, quality: .8, type: 'image/jpeg',
               ratio: '3:4'}" ngf-fix-orientation="true" ng-show="scc.isEditable()">בחר תמונה
                    </button>
                    <div class="card-body">

                        <input class="form-control form-control-lg" type="text" placeholder="מספר הזמנה"
                               ng-model="card.order_number"
                               ng-change="scc.updateShippingCard(card)" ng-disabled="!scc.isEditable()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button ng-show="scc.isEditable()" type="button" ng-click="scc.moveCardToFinished(card)"
                                        class="btn btn-success float-right mt-1">בוצע
                                </button>
                            </div>

                            <small class="text-muted">{{card.date}}</small>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="dialog{{card.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{card.order_number}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--                                    <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                                <!--                                         class="img-fluid">-->
                                <!--                                    </div>-->

                                <div class="d-flex flex-column">
                                    <div class="d-inline-flex p-2 justify-content-center"
                                    ">
                                    <img ng-src="{{card.tempOrderImageUrl}}"
                                         class="img-fluid" alt="Responsive image">
                                </div>

                                <div class="d-flex flex-row" role="group" aria-label="Basic example">
                                    <button class="btn btn-primary m-1"
                                            ng-click="scc.navigateToCoordination(card.id)">לינק לתיאום ההובלה
                                    </button>
                                    <button class="btn btn-secondary m-1"
                                            ng-click="scc.copyCoordinationLinkToClipboard(card.id)">העתק קישור
                                    </button>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger ml-auto"
                                    data-dismiss="modal" ng-click="scc.deleteShippingCard(card)">מחק
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="scc.isEditable()" class="fixed-bottom text-center">

    <img src="/static/open-iconic/svg/plus.svg"
         alt="icon name" class="plusIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle"
         ng-click="scc.addShippingCard()" mobile-hover-fix-directive>
</div>
<!-- Modal -->

</div>