html{
    direction: rtl;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.plusIcon {
  width: 88px;
  height: 88px;
  padding: 16px;
  cursor: pointer;
  margin: 16px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  -webkit-tap-highlight-color: transparent;

}

.editIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  margin: 0px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  -webkit-tap-highlight-color: transparent;

}

.sp-ship-icon{
    width: 16px;
    height: 16px;
    background-color: white;
    border-color: white;
    margin: 4px;
}

.coordinator-image{
    height: 400px;
    cursor: pointer;
}

.coordinatorOrderText{
    font-size: x-large;
}

.datepicker {
    font-size: 0.875em;
}
/* solution 2: the original datepicker use 20px so replace with the following:*/

.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}

.mobileHoverFix:hover,
.mobileHoverFix.hover{
    background-position: 0 0px;
}

.availabilities{
    margin-bottom: 10px;
}

.xlargeFont{
    font-size: x-large;
}

.rot90 {
    -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
    -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
    -o-transform: translateY(-100%) rotate(90deg); /* Opera */
    transform: translateY(-100%) rotate(90deg); /* W3C */
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}

.rotated-img-container{
    overflow: hidden;
}

.max-height-400{
    max-height: 400px;
}

.click-cursor{
    cursor: pointer;
}

.edit-image{
    width: 256px;
}

input:disabled, select:disabled, textarea:disabled {
  color: black!important;
  background:#ffff!important;
}

input:disabled:hover, select:disabled:hover, textarea:disabled:hover {
  color: black!important;
  background:lightslategrey!important;
}

img {
    image-orientation: from-image;
}