<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>תיאום משלוחים סליפ דיפו</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="\static\node_modules\angular\angular.min.js"></script>
    <script src="\static\node_modules\ng-file-upload\dist\ng-file-upload-shim.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="\static\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
    <link href="\static\open-iconic\font\css\open-iconic-bootstrap.css" rel="stylesheet">
    <link href="\static\node_modules\bootstrap-datepicker\dist\css\bootstrap-datepicker.standalone.css"
          rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="\static\style.css" rel="stylesheet">


    <script src="\static\node_modules\ng-file-upload\dist\ng-file-upload.js"></script>
    <script src="\static\node_modules\ng-file-upload\dist\ng-file-upload-shim.min.js"></script>
    <script src="\static\node_modules\ng-file-upload\dist\ng-file-upload.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="\static\node_modules\jquery-slim\dist\jquery-slim.min.js"><\/script>')



    </script>
    <script src="\static\node_modules\bootstrap-datepicker\dist\js\bootstrap-datepicker.min.js"></script>
    <script src="\static\node_modules\bootstrap-datepicker\js\locales\bootstrap-datepicker.he.js"
            charset="UTF-8"></script>
    <script src="\static\node_modules\dateformat\lib\dateformat.js"></script>

    <script src="\static\shippingApp.js"></script>
    <script src="\static\awsFileService.js"></script>
    <script src="static\imageLoaderWithOrientation.js"></script>
    <script src="\static\shippingCardService.js"></script>
    <script src="\static\mobileHoverFixDirective.js"></script>
    <script src="\static\commonUtilsService.js"></script>
    <script src="\static\coordinationController.js"></script>
    <script src="\static\userController.js"></script>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="/static/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
</head>

<body ng-app="shippingApp">

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">תיאום הובלות</h4>
                    <p class="text-muted">תוכנה זו נועדה לשם סידור תהליך תיאום ההובלות, גם מבחינת יצירת סדר וגם מבחינת
                        מקבול תיאום ההובלה הן מול הלקוח והן מול המוביל תוך חסכון ביצירת קשר טלפוני</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">צור קשר</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">ערן מעוז</a></li>
                        <li><a href="#" class="text-white">e.magnex@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="pull-right align-middle">
            <p class="navbar-brand text-center" ng-controller="userController as uc">
                <span class="text-right">שלום {{uc.user_id}}</span><br>
                <a target="_self" href="/logout" class="btn btn-link text-light bg-dark">לחץ כאן כדי להתנתק</a>
            </p>
        </div>
        <div class="container d-flex justify-content-between">
            <a target="_self" href="/" class="navbar-brand d-flex align-items-center">
                <img src="/static/open-iconic/svg/location.svg" class="sp-ship-icon">
                <strong>סליפ דיפו</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">תיאום הובלות סליפ דיפו</h1>
            <p class="lead text-muted">סדר, מקבול, חסכון</p>
        </div>
    </section>

    <div ng-controller="coordinationController as cc">
        <div class="container text-center">
            <div class="row">
                <div class="col font-weight-bold d-inline p-2 bg-primary text-white coordinatorOrderText text-right">
                    מס הזמנה: {{cc.card.order_number}}
                </div>
            </div>
            <div class="row">
                <div class="col shadow-lg p-3 mb-5 bg-white rounded">
                    <!--                    <div image-loader-with-orientation ng-model="cc.card.tempOrderImageUrl"-->
                    <!--                         class="img-fluid coordinator-image btn btn-sm" data-toggle="modal"-->
                    <!--                                            data-target="#dialog">-->

                    <!--                    </div>-->
                    <img ng-src="{{cc.card.tempOrderImageUrl}}"
                         class="img-fluid coordinator-image border border-primary rounded" alt="Responsive image"
                         data-toggle="modal"
                         data-target="#dialog">
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">#טלפון</span>
                </div>
                <a class="btn btn-link text-right" href="tel:{{card.phone_number}}">{{cc.card.phone_number}}</a>
                <!--                                        <input type="text" class="form-control" placeholder="מס' טלפון"-->
                <!--                                               aria-label="Username"-->
                <!--                                               aria-describedby="basic-addon1" ng-model="card.phone_number" readonly>-->
            </div>
            <div class="input-group mb-3 my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">₪</span>
                </div>
                <input type="text" class="form-control" placeholder="עלות הובלה"
                       aria-label="Price"
                       aria-describedby="basic-addon1" ng-model="cc.card.price" disabled>
                <div class="input-group-prepend">
                    <span class="input-group-text">מי משלם</span>
                </div>
                <select class="custom-select" ng-model="cc.card.who_pays" disabled>
                    <option selected>לא צוין</option>
                    <option>הלקוח</option>
                    <option>החנות</option>
                </select>
            </div>

            <div class="input-group mb-3 my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">מידע נוסף</span>
                </div>
                <textarea class="form-control" aria-label="מידע נוסף"
                          ng-model="cc.card.extra_info" disabled></textarea>
            </div>
            <div class="col font-weight-bold d-inline p-2 bg-secondary text-white text-right float-right my-2">
                תיאום שעות
            </div>
            <div class="row d-flex justify-content-center input-group flex-row input-group-lg availabilities"
                 ng-repeat="availability in cc.availabilities">
                <div class="col-sm-4 d-flex flex-row">
                    <div class="input-group-prepend">
                        <span class="input-group-text xlargeFont">תאריך</span>
                    </div>
                    <input data-date-format="dd/mm/yyyy DD" class="form-control xlargeFont"
                           id="datePicker{{availability.id}}" ng-disabled="true" ng-model="availability.date">

                </div>
                <div class="col-sm-3 d-flex flex-row">
                    <div class="input-group-prepend">
                        <span class="input-group-text xlargeFont">מ-</span>
                    </div>
                    <select class="custom-select xlargeFont" ng-model="availability.from_hour"
                            ng-change="cc.updateAvailability(availability)" ng-disabled="true">
                        <option selected>{{cc.defaultHourValue}}</option>
                        <option ng-repeat="hour in cc.hours" value="{{hour}}">{{hour}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3 d-flex flex-row">
                    <div class="input-group-prepend">
                        <span class="input-group-text xlargeFont">עד</span>
                    </div>
                    <select class="custom-select xlargeFont" ng-model="availability.to_hour"
                            ng-change="cc.updateAvailability(availability)" ng-disabled="true">
                        <option selected>{{cc.defaultHourValue}}</option>
                        <option ng-repeat="hour in cc.hours" value="{{hour}}">{{hour}}
                        </option>
                    </select>
                </div>

                <!--                <img src="/static/open-iconic/svg/trash.svg"-->
                <!--                     alt="icon name"-->
                <!--                     class="editIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle"-->
                <!--                     ng-click="cc.removeAvailability(availability)" mobile-hover-fix-directive-->
                <!--                     ng-show="cc.isEditable()">-->
                <img src="/static/open-iconic/svg/wrench.svg"
                     alt="icon name"
                     class="editIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle"
                     ng-click="cc.openEditModalForExistingCoordination(availability)" mobile-hover-fix-directive
                     ng-show="cc.isEditable()">

            </div>

            <div class="row d-flex justify-content-center" ng-show="cc.isEditable()">
                <img src="/static/open-iconic/svg/plus.svg"
                     alt="icon name"
                     class="plusIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle img-fluid"
                     ng-click="cc.createCoordinationWithModal()" mobile-hover-fix-directive>
            </div>

        </div>
        <div class="modal fade" id="dialog" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-inline-flex p-2 justify-content-center">
                            <img ng-src="{{cc.card.tempOrderImageUrl}}"
                                 class="img-fluid" alt="Responsive image">
                        </div>
                        <!--img ng-src="{{card.tempOrderImageUrl}}" class="img-fluid" alt="Responsive image">-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="editCoordinationModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                ng-disabled="cc.isSavingCoordination">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h5 class="modal-title ml-auto float-right">{{cc.getEditCoordinationModalTitle()}}</h5>
                        <!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal"-->
                        <!--                                ng-disabled="cc.isSavingCoordination">סגור-->
                        <!--                        </button>-->

                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">תאריך</span>
                            </div>
                            <input data-date-format="dd/mm/yyyy DD" class="form-control xlargeFont"
                                   id="datePickerInEdit{{cc.coordinationInEdit.id}}">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">מ-</span>
                            </div>
                            <select class="custom-select xlargeFont" ng-model="cc.coordinationInEdit.from_hour">
                                <option selected>{{cc.defaultHourValue}}</option>
                                <option ng-repeat="hour in cc.hours" value="{{hour}}">{{hour}}
                                </option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">עד</span>
                            </div>
                            <select class="custom-select xlargeFont" ng-model="cc.coordinationInEdit.to_hour">
                                <option selected>{{cc.defaultHourValue}}</option>
                                <option ng-repeat="hour in cc.hours" value="{{hour}}">{{hour}}
                                </option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary ml-auto"
                                    ng-click="cc.saveCoordinationFromEditModal()">
                                {{cc.getEditCoordinationModalUpdateButton()}}
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                      ng-show="cc.isSavingCoordination"></span>
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                    ng-click="cc.deleteCoordinationInEdit()" ng-disabled="cc.isSavingCoordination"
                                    ng-show="!cc.isCreatingNewCoordination">
                                מחק
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                      ng-show="cc.isDeletingCoordination"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</main>

<footer class="text-muted">
    <div class="container">
        
        <p>sp-shipping is &copy; Eran Maoz, Use it to your advantage!</p>
        <p>תוכנה זו נודעה לייצר המלצות בלבד ואינה מחייבת</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="\static\node_modules\popper.js\dist\popper.min.js"></script>
<script src="\static\node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
<script src="\static\node_modules\holderjs\holder.min.js"></script>
</body>
</html>


