<html>
<head>
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="static\node_modules\angular-material\angular-material.css">

    <script src="static\node_modules\angular\angular.min.js"></script>
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload.js"></script>
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload.min.js"></script>
    <script src="static\node_modules\angular-aria\angular-aria.js"></script>
    <script src="static\node_modules\angular-animate\angular-animate.js"></script>
    <script src="static\node_modules\angular-messages\angular-messages.js"></script>
    <script src="static\node_modules\angular-material\angular-material.js"></script>


    <script src="static\shippingApp.js"></script>
    <script src="static\awsFileService.js"></script>
    <script src="static\shippingCardsController.js"></script>
</head>
<body ng-app="shippingApp">
<div class="fixedContainer">
    <img src="/static/sleepdepot.jpg" class="fixed">
</div>

<div ng-controller="shippingCardsController as scc" class="cardsContainer">
    <div ng-repeat="card in scc.shippingCards">
<!--        Order Number: <input type="text" ng-model="card.orderNumber" ng-change="scc.updateShippingCard(card)">-->
<!--              Select File-->
<!--        <img ng-src="{{card.orderImageUrl}}" ngf-select="scc.uploadFileToAws(card.id,$file)"-->
<!--                  accept="image/*"  ngf-max-size="10MB" class="orderImage"/>-->
<!--        <i class="material-icons" ng-click="scc.showShippingDialog($event, card.id)">-->
<!--            zoom_out_map-->
<!--        </i>-->
        <md-card md-theme="light-blue" >
        <md-card-title>
            <md-input-container class="md-block" flex-gt-sm="">
            <label>Order Number</label>
            <input  matInput placeholder="Order Number" class="orderNumber" ng-model="card.orderNumber"
                       ng-change="scc.updateShippingCard(card)">
          </md-input-container>
          <md-card-title-media>
            <img class="md-media-lg card-media" ng-src="{{card.tempOrderImageUrl}}"/>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
         <md-button ngf-select="scc.uploadFileToAws(card.id,$file)"
                  accept="image/*"  ngf-max-size="10MB" class="orderImage">Choose Image</md-button>
          <md-button class="cardButton" ng-click="scc.showShippingDialog($event, card.id)">Open</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="footer">
    <i class="material-icons" style="font-size: 128px" ng-click="scc.addShippingCard()">
    add_circle
    </i>
    </div>

</div>


</body>
</html>