<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>תיאום משלוחים סליפ דיפו</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="static\node_modules\angular\angular.min.js"></script>
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload-shim.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="static\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
    <link href="static\open-iconic\font\css\open-iconic-bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static\style.css" rel="stylesheet">


    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload.js"></script>
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload-shim.min.js"></script>
    <script src="static\node_modules\ng-file-upload\dist\ng-file-upload.min.js"></script>
    <!--    <script src="static\node_modules\exif-js\exif.js"></script>-->
    <script src="static\node_modules\JavaScript-Load-Image-master\js\load-image.all.min.js"></script>
    <script src="static\shippingApp.js"></script>
    <script src="static\imageLoaderWithOrientation.js"></script>
    <script src="static\awsFileService.js"></script>
    <script src="static\shippingCardService.js"></script>
    <script src="static\mobileHoverFixDirective.js"></script>
    <script src="static\commonUtilsService.js"></script>
    <script src="static\shippingCardsController.js"></script>


    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="/static/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
</head>

<body ng-app="shippingApp">

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">תיאום הובלות</h4>
                    <p class="text-muted">תוכנה זו נועדה לשם סידור תהליך תיאום ההובלות, גם מבחינת יצירת סדר וגם מבחינת
                        מקבול תיאום ההובלה הן מול הלקוח והן מול המוביל תוך חסכון ביצירת קשר טלפוני</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">צור קשר</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">ערן מעוז</a></li>
                        <li><a href="#" class="text-white">e.magnex@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="/static/open-iconic/svg/location.svg" class="sp-ship-icon">
                <strong>סליפ דיפו</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">תיאום הובלות סליפ דיפו</h1>
            <p class="lead text-muted">סדר, מקבול, חסכון</p>
        </div>
    </section>

    <div class="album py-5 bg-light" ng-controller="shippingCardsController as scc">
        <div class="container">

            <div class="row">
                <div class="col-md-4" ng-repeat="card in scc.shippingCards">
                    <div class="card mb-4 shadow-sm">
                        <!--                                                <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                        <!--                                                     class="card-img-top max-height-400 click-cursor" data-toggle="modal"-->
                        <!--                                                     data-target="#dialog{{card.id}}">-->
                        <!--                                                </div>-->
                        <img class="card-img-top click-cursor"
                             ng-src="{{card.tempOrderImageUrl}}"
                             alt="Card image cap" data-toggle="modal"
                             data-target="#dialog{{card.id}}">
                        <button type="button" class="btn btn-outline-primary float-right"
                                ngf-select="scc.uploadFileToAws(card,$file)"
                                accept="image/*" ngf-max-size="30MB" ngf-resize="{width: 600, height: 800, quality: .8, type: 'image/jpeg',
               ratio: '3:4'}" ngf-fix-orientation="true">בחר תמונה
                        </button>
                        <div class="card-body">

                            <input class="form-control form-control-lg" type="text" placeholder="מספר הזמנה"
                                   ng-model="card.order_number"
                                   ng-change="scc.updateShippingCard(card)">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"-->
                                    <!--                                            data-target="#dialog{{card.id}}">הרחב-->
                                    <!--                                    </button>-->

                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="dialog{{card.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{card.order_number}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--                                    <div image-loader-with-orientation ng-model="card.tempOrderImageUrl"-->
                                    <!--                                         class="img-fluid">-->
                                    <!--                                    </div>-->
                                    <img ng-src="{{card.tempOrderImageUrl}}" class="img-fluid" alt="Responsive image">
                                    <button class="btn btn-primary btn-lg btn-block"
                                            ng-click="scc.navigateToCoordination(card.id)">לינק לתיאום ההובלה
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger ml-auto"
                                            data-dismiss="modal" ng-click="scc.deleteShippingCard(card)">מחק
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-center">

            <img src="/static/open-iconic/svg/plus.svg"
                 alt="icon name" class="plusIcon btn btn-outline-primary btn-rounded waves-effect rounded-circle"
                 ng-click="scc.addShippingCard()" mobile-hover-fix-directive>
        </div>
        <!-- Modal -->

    </div>

</main>

<footer class="text-muted">
    <div class="container">

        <p class="float-right">
            <a href="#">שלום</a>
        </p>
        <p>sp-shipping is &copy; Eran Maoz, Use it to your advantage!</p>
        <p>תוכנה זו נודעה לייצר המלצות בלבד ואינה מחייבת</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="static\node_modules\jquery-slim\dist\jquery-slim.min.js"><\/script>')








</script>
<script src="static\node_modules\popper.js\dist\popper.min.js"></script>
<script src="static\node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
<script src="static\node_modules\holderjs\holder.min.js"></script>
</body>
</html>


