{% extends 'layout.html' %}


{% block style %}
  <link href="static\style.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="\static\shippingCardsController.js"></script>
    <script src="\static\shippingCardsDirective.js"></script>
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs justify-content-center" id="shippingsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ongoing-shippings" data-toggle="tab" href="#ongoing" role="tab"
               aria-controls="ongoing"
               aria-selected="true">תיאומים חיים</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="finished_shippings" data-toggle="tab" href="#finished" role="tab"
               aria-controls="finished"
               aria-selected="false">תיאומים שבוצעו</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-shippings">
            <shipping-cards-directive state="ongoing"></shipping-cards-directive>
        </div>
        <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished_shippings">
            <shipping-cards-directive state="finished"></shipping-cards-directive>
        </div>
    </div>

{% endblock %}