{% extends 'layout.html' %}


{% block style %}
  <link href="static\login_style.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
   <script src="static\loginController.js"></script>
{% endblock %}


{% block content %}

        <form class="form-signin" ng-controller="loginController as lc">
        <img class="mb-4" src="/static/images/sp_login_icon.png" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">בבקשה התחבר</h1>
        <label for="inputEmail" class="sr-only">שם משתמש</label>
        <input id="inputEmail" class="form-control" placeholder="שם משתמש" required autofocus ng-model="lc.id">
        <label for="inputPassword" class="sr-only">סיסמא</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="סיסמא" required
               ng-model="lc.password">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" ng-model="lc.remember_me" ng-init="checked=true"> זכור אותי
            </label>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-show="lc.bad_credentials">
            <strong>שגיאה בהתחברות!</strong> אחד מן הפרטים שציינת הינו שגוי
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="lc.login()">התחבר
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  ng-show="lc.is_attempting_login"></span></button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>

    </form>


{% endblock %}


